#root{
    width: 100vw;
    padding: 0;
    background-color: azure;
}
.container{
    display: flex;
    flex-direction: row-reverse;
}
.champ-list{
    display: flex;
    flex-flow: row wrap;
    transition: transform .2s;
    height: fit-content;
}
.champ{
    height: 60px;
}
.champ img{
    width: 60px;
}
.champ-name{
    display: none;
}
.champ img:hover{
    transform: scale(2);
}
.champ-detail{
    line-height: 0.5;
}